textarea {
    min-height: 400px;
}
.email-list {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 2px;
    display: flex;
    justify-content: space-between;
    height: 26px;
    cursor: pointer;
    min-width: 700px;
}

.email-list:hover {
    box-shadow: 0 0 3px 0 black;
}

.el-ss-container {
    display: flex;
}

.el-sender {
    width: 180px;
    /* background-color: orchid; */
    overflow: hidden;
    font-weight: 600;
    padding-left: 4px;
}

.el-subject {
    width: 400px;
    /* background-color: saddlebrown; */
    overflow: hidden;
    padding-left: 4px;
}

.el-t-container {
    display: flex;
    justify-content: flex-end;
}
.el-time {
    font-size: 11px;
    text-align: end;
    display: flex;
    align-self: center;
    color: rgb(71, 71, 71);
    padding-left: 4px;
    padding-right: 4px;
    width: 114px;
    max-width: 130px;
    overflow: hidden;
}

.se-container {
    display: flex;
    justify-content: space-between;
}
.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
}

#compose-submit {
    margin-top: 5px;
}