body {
    padding: 10px;
}
li {
    margin-top: -10px;
    margin-bottom: -10px;
}
#index-img {
    max-height: 300px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lc-img {
    height: 302px;
    width: 302px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(146, 146, 146); */
}
.lc-container {
    padding-left: 5px;
    /* background-color: crimson; */
}
.lc-title {
    font-weight: 666;
    font-size: 35px;
    padding-bottom: 13px;
}
.lc-price {
    font-weight: 600;
    font-size: 18px;
}
.lc-description {
    font-weight: 350;
    padding-top: 3px;
    padding-bottom: 3px;
}
.lc-details {
    font-size: 12px;
    font-weight: 500;
    color: rgb(146, 146, 146);
}
.l-input {
    width: 300px;
    margin-bottom: -13px;
    margin-top: -20px;
}
.l-title {
    font-weight: 666;
    font-size: 35px;
    padding-bottom: 13px;
}
.l-watchlist {
    padding-bottom: 2px;
}
#l-img {
    max-height: 300px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.l-img {
    height: 302px;
    width: 502px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(146, 146, 146); */
}
.l-description {
    font-weight: 350;
    padding-top: 6px;
    padding-bottom: 6px;
}
.l-price {
    font-weight: 600;
    font-size: 24px;
}
.l-biddetails {
    font-size: 12px;
    margin-top: 5px;
    /* margin-bottom: -20px; */
}
.l-details1 {
    font-size: 18px;
    font-weight: 600;
}
.l-details2 {
    font-size: 14px;
    font-weight: 400;
    margin: 1px;
    padding: 0px;
}
.bttn-closelisting {
    margin-top: 10px;
}
.teste {
    margin-bottom: 4px;
    margin-left: -8px;
}
#watchlist-alert {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.l-comment {
    width: 504px;
    margin-bottom: -13px;
}
.cl-input-size {
    width: 504px;
}
.comment1 {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.box {
    margin-bottom: 20px;
}