{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{pagename}}
{% endblock %}

{% block body %}

        {{ html|safe }}

        <form action="{% url 'wiki:edit' %}" method="get">
            {% csrf_token %}
            <input type="hidden" name="w-path" value="{{request.path}}">
            <input type="hidden" name="w-title" value="{{pagename}}">
            <input type="hidden" name="w-text" value="{{html}}">
            <input type="submit" value="Edit">
        </form>
        
{% endblock %}