{% extends "manager/index.html" %}

{% block title %}
    Cadastro
{% endblock %}

{% block body %}
    <a href="{% url 'pre_cadastro_sala' %}">CADASTRAR SALA PARA EVENTOS</a><br><br>
    <a href="{% url 'cadastro_cafe' %}">CADASTRAR ESPAÇO PARA CAFÉ</a>
    <hr>
    
    {% if message %}
        <div class="alert-message">
            <br>
            {{message}}
            <br><br>
        </div>
    {% endif %}

    <h3>Cadastro de participante:</h3>
    <div id=cadastro>
        <form action="{% url 'cadastro' %}" method="post">
            <input type="text" name="name" placeholder="Nome">
            <input type="text" name="last_name" placeholder="Sobrenome">
            <input type="submit" value="Cadastrar">
        </form>
    </div>
    
{% endblock %}